


.fundo {
  display: flex;
  justify-content: center; 
  margin-top: 100px; 
  
}

.fundo img {
  max-width: 20%;  
  height: auto;    
  border-radius: 80px;
  box-shadow: 0 80px 160px #ef6c00; 
}

h3 {
  position: relative;
  right: 20px;
  top: 50%;
  font-size: 20px;
}

h2 {
  background-color: #ef6c00;
  opacity: 1;
  border: 2px solid #e65100; 
  box-shadow: 5px 10px rgba(0, 0, 0, 0.5); 
}

h1 {
  color: #000000;
  text-shadow: #d3d3d3 0.1em 0.1em 0.3em; 
}

body {
  background-color: #ffffff; 
  background-repeat: no-repeat;
  background-size: cover;
}

.menu {
  background-color: #ef6c00;
  border-bottom: 4px solid #ef6c00; 
}

.menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-shadow: #808080 0.1em 0.1em 0.3em;
}

.menu li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000; 
  font-weight: bold;
}

a:visited {
  text-decoration: dotted;
}

a:hover {
  text-decoration: underline;
}

body, h1, h2 {
  font-family: 'Roboto', serif;
  font-weight: 500;
}


p1 {
  color: #000000;
  text-shadow: rgb(211, 211, 211) 0.1em 0.1em 0.3em;
}

p2 {
  color: black;
  font-size: 150%;
}

p3 {
  color: rgb(0, 0, 0);
  text-shadow: #d3d3d3 0.1em 0.1em 0.3em;
  font-size: 200%;
 
}

#container {
  display: flex;
  flex-direction: row-reverse;
}

form {
  color: rgb(0, 0, 0);
}

.botao{
  border: solid 1px rgb(255, 255, 255);
  border-radius: 20px;
  color: rgb(38, 135, 78);
  background-color: white;
  transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}
.botao:hover{
  background-color: rgb(8, 199, 68);
  color: white;
  transform: scale(1.2)
}

.chute{
  display: flex;
  justify-content: right;
  font-size: 105%;
}

.passe{
  display: flex;
  justify-content: right;
  font-size: 105%;
  flex-direction: row;


}

.foto {
  width: 500px;
}

p4 {
  color: rgb(0, 0, 0);
  text-shadow: #d3d3d3 0.1em 0.1em 0.3em;
  font-size: 200%;
}

.eu {
  display: flex;
  justify-content: right;
  font-size: 90%;
}

.carreira {
  display: flex;
  justify-content: right;
}

